<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Personal Blog</title>    
    {% load django_bootstrap5 %}
    {% load static %}
    {% bootstrap_css %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% bootstrap_javascript %}
</head>
<body data-theme="dark">
    <nav class="navbar navbar-expand-lg" role="navigation">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'blog_index' %}">Trackpaddin</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'blog_index' %}active{% endif %}" href="{% url 'blog_index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% if request.resolver_match.url_name == 'blog_about' %}active{% endif %}" href="{% url 'blog_about' %}">About</a>
                </li>
            </ul>
            <form class="me-2"  role="search" method="get" action="{% url 'blog_search' %}">
                <input id="search-input" class="form-control rounded-4" type="search" name="q" placeholder="Search (Ctrl+K)" aria-label="SearchBox">
            </form>
        </div>
    </div>
</nav>
<div class="container-custom card-custom">
    {% block page_title %}{% endblock page_title %}
    {% block page_content %}{% endblock page_content %}
</div>
<footer class="text-center">
    <div class="container-custom">
        <p>Copyright &copy; 2022 Trackpaddin</p>
    </div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Ctrl+K shortcut
        const searchInput = document.getElementById('search-input');
        
        document.addEventListener('keydown', function(event) {
            if ((event.ctrlKey || event.metaKey) && event.key === 'k') {
                event.preventDefault();
                
                if (searchInput) {
                    searchInput.focus();
                    searchInput.select();
                }
            }
        }); 
        if (searchInput) {
            searchInput.addEventListener('keydown', function(event) {
                if (event.key === 'Escape') {
                    searchInput.blur();
                }
            });
        }
    });
</script>
</body>
</html>