<!-- templates/base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Personal Blog</title>
    
    {% load django_bootstrap5 %}
    {% load static %}
    {% bootstrap_css %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% bootstrap_javascript %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom" role="navigation">
    <div class="container-fluid">
        <a class="navbar-brand navbar-logo" href="{% url 'blog_index' %}">My Personal Blog</a>
        <button class="navbar-toggler navbar-toggler-custom" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon navbar-toggler-custom-icon"></span>
        </button>
        <!-- make classes to move the links to the right -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link navbar-link {% if request.resolver_match.url_name == 'blog_index' %}active{% endif %}" href="{% url 'blog_index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navbar-link {% if request.resolver_match.url_name == 'blog_about' %}active{% endif %}" href="{% url 'blog_about' %}">About</a>
                </li>
            </ul>
            <form class="d-flex" role="search" method="get" action="{% url 'blog_search' %}">
                <input class="form-control me-2" type="search" name="q" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light btn-custom-search" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<div class="container-custom">
    {% block page_title %}{% endblock page_title %}
    {% block page_content %}{% endblock page_content %}
</div>
</body>
</html>